/*Created with Adobe RoboHelp 2017.*/
BODY {
	font-family: Verdana;
	font-size: 10.0pt;
	background-repeat: none;
	background-attachment: fixed;
	background-image: url(CAD_help.jpg);
}
H1 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 24.0pt;
	background-color: #916063;
	text-align: center;
	color: #ffffff;
}
H2 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 18.0pt;
	color: #000000;
}
P {
	font-family: Verdana;
	color: #000000;
	margin-top: 10px;
	font-size: 9pt;
}
A.expandspot {
	cursor: hand;
	color: #008000;
	font-style: normal;
}
SPAN.expandtext {
	color: #ff0000;
	font-weight: normal;
	font-style: italic;
}
A.dropspot {
	font-style: italic;
	cursor: hand;
	color: #008000;
}
A.glossterm {
	cursor: hand;
	color: #800000;
	font-style: normal;
}
SPAN.glosstext {
	color: #0000ff;
	font-weight: normal;
	font-style: italic;
}
